<div class="container"
     data-infinite-scroll
     debounce
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="300"
     (scrolled)="onScrollDown()">
  <div class="row">
    <div class="col">
      <h2 class="h3 text-muted text-uppercase">Raw</h2>
      <table class="table my-3">
        <thead>
          <tr>
            <th>#</th>
            <th><abbr title="Temperature" class="initialism">T.</abbr> <small>(°C)</small></th>
            <th><abbr title="Humidity" class="initialism">H.</abbr> <small>(%)</small></th>
            <th>PM1.0 <small>(µg/m<sup>3</sup>)</small></th>
            <th>PM2.5 <small>(µg/m<sup>3</sup>)</small></th>
            <th>PM10 <small>(µg/m<sup>3</sup>)</small></th>
            <th><abbr title="Barometric Pressure" class="initialism">B.P.</abbr> <small>(Pa)</small></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of (flipped$ | async)">
            <th scope="row" *ngIf="data.d">{{ data.d[0] | amDateFormat: 'l LTS' }}</th>
            <td *ngIf="data.d">{{ data.d[1] }}</td>
            <td *ngIf="data.d">{{ data.d[2] }}</td>
            <td *ngIf="data.d">{{ data.d[3] }}</td>
            <td *ngIf="data.d">{{ data.d[4] }}</td>
            <td *ngIf="data.d">{{ data.d[5] }}</td>
            <td *ngIf="data.d">{{ data.d[6] }}</td>
            <td *ngIf="data.t" colspan="7" class="table-danger text-center">Service Outage for {{ data.t | amDuration: 'milliseconds' }}</td>
          </tr>
        </tbody>
      </table>
      <div class="text-left">
        <blue-loading *ngIf="!ready" text="Retrieving latest data..."></blue-loading>
      </div>
    </div>
  </div>
</div>
