<header>
  <nav class="navbar navbar-light">
      <span class="navbar-text ml-auto text-uppercase">
        Reported from Changning, Shanghai
      </span>
  </nav>
  <div class="row placeholder-header"></div>
  <div class="container">
    <div class="row">
      <div class="col text-center">
        <h1 class="display-3"><span class="text-bluesense">Blue</span>Sense</h1>
        <p>Sense of the <span class="text-bluesense-sub">Blue</span> Sky.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="col text-uppercase">
          <div class="row">
            <div class="col-5 text-right d-none d-md-block">
              <ul class="list-unstyled">
                <li>BlueSense</li>
                <li>Charts</li>
                <li>Data</li>
                <li>About</li>
              </ul>
            </div>
            <div class="col-md-7 text-md-left text-center">
              <ul class="list-unstyled">
                <li>
                  <ul class="list-inline">
                    <li class="list-inline-item"><a class="blue-nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><i class="fa fa-circle-o"></i> Overview</a></li>
                    <li class="list-inline-item"><a class="blue-nav-link" href="https://bluesense.skyzh.xyz/feed"><i class="fa fa-rss"></i> Feed</a></li>
                  </ul>
                </li>
                <li>
                  <ul class="list-inline">
                    <li class="list-inline-item"><a class="blue-nav-link" routerLink="/charts/realtime" routerLinkActive="active"><i class="fa fa-circle-o"></i> Realtime</a></li>
                    <li class="list-inline-item"><a class="blue-nav-link" routerLink="/charts/hourly" routerLinkActive="active"><i class="fa fa-circle-o"></i> Hourly</a></li>
                  </ul>
                </li>
                <li>
                  <ul class="list-inline">
                    <li class="list-inline-item"><a class="blue-nav-link" routerLink="/raw" routerLinkActive="active"><i class="fa fa-circle-o"></i> Raw</a></li>
                    <li class="list-inline-item"><a class="blue-nav-link" routerLink="/logs" routerLinkActive="active"><i class="fa fa-circle-o"></i> Logs</a></li>
                    <li class="list-inline-item"><a class="blue-nav-link" routerLink="/alerts" routerLinkActive="active"><i class="fa fa-circle-o"></i> Alerts</a></li>
                  </ul>
                </li>
                <li>
                  <ul class="list-inline">
                    <li class="list-inline-item"><a class="blue-nav-link" routerLink="/about" routerLinkActive="active"><i class="fa fa-circle-o"></i> BlueSense</a></li>
                    <li class="list-inline-item"><a class="blue-nav-link" href="https://about.me/SkyZH"><i class="fa fa-circle-o"></i> SkyZH <small><i class="fa fa-external-link" aria-hidden="true"></i></small></a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <p class="text-muted small text-center">An open-source project by SkyZH</p>
        <hr class="mx-1">
      </div>
    </div>
  </div>
</header>

<main>
  <router-outlet></router-outlet>
  <div class="blue-loading-overlay d-flex flex-column justify-content-center align-items-center" *ngIf="!ready && !debug">
    <h1 class="display-3"><span class="text-bluesense">Blue</span>Sense</h1>
    <p>Sense of the <span class="text-bluesense-sub">Blue</span> Sky.</p>
    <p class="small text-muted">Ver. {{ __version }}</p>
    <p class="small fixed-bottom text-center">
      <i class="fa fa-circle-o-notch fa-spin fa-fw"></i> Establishing connection...
      <br>
      <span class="text-muted">
        <span *ngIf="!checkLongPolling()">If it takes a long time to establish connection, <a href="javascript:void(0)" (click)="enableLongPolling(true)">click to force long polling</a>.</span>
        <span *ngIf="checkLongPolling()">Long Polling is enabled. <a href="javascript:void(0)" (click)="enableLongPolling(false)">click to disable long polling</a></span>
      </span>
    </p>
  </div>
</main>
