@import "bootstrap";

.blue-loading-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
}

body {
  font-family: "Roboto Slab", "Noto Serif", $font-family-sans-serif;
}

.text-bluesense-sub {
  color: #2196F3 !important;
}

.text-bluesense {
  color: #1565C0 !important;
}
