@import "node_modules/compass-mixins/lib/compass/css3";
@import "node_modules/bootstrap/scss/bootstrap";

@function makelongshadow($color) {
  $val: 0px 0px $color;
  @for $i from 1 through 400 {
    $val: #{$val}, #{$i}px #{$i}px #{$color};
  }
  @return $val;
}

@mixin longshadow($color) {
  text-shadow: makelongshadow($color);
}

body {
  font-family: 'Bree Serif', serif;
}

.bs-logo-blue {
  padding: 0 1rem;
  margin: 0;
  background-color: #1565C0;
  color: $white;
}
