<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <ul class="nav nav-pills mt-2">
        <li class="nav-item">
          <a class="nav-link" (click)="getLast(60 * 24 * 7, 84)" href="javascript:">Week</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"(click)="getLast(60 * 48, 24)" href="javascript:">48hrs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="getLast(60 * 24, 12)" href="javascript:">24hrs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="getLast(60 * 12, 6)" href="javascript:">12hrs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="getLast(60 * 2, 1)" href="javascript:">2hrs</a>
        </li>
      </ul>
      <ul class="list-unstyled mx-3">
        <li class="text-info">
          <blue-loading [ready]="ready" text="Retrieving latest data..."></blue-loading>
        </li>
        <li>
          <span class="text-muted">Updated {{ lastRefresh | amTimeAgo }} ({{ lastRefresh | amDateFormat: "LLLL" }})</span>
        </li>
        <li>
          <span class="text-muted">Displaying realtime data from {{ lastData | amTimeAgo }} ({{ lastData | amDateFormat: "LLLL" }}) to now every {{ split }} minutes</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-lg-6">
      <div class="card mt-3 px-1">
        <blue-chart [datasets]="(dataset$ | async)?.tem || [{data:[]}]" [labels]="(dataset$ | async)?.labels || []" [options]="options" class="d-block"></blue-chart>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card mt-3 px-1">
        <blue-chart [datasets]="(dataset$ | async)?.hum || [{data:[]}]" [labels]="(dataset$ | async)?.labels || []" [options]="options" class="d-block"></blue-chart>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card mt-3 px-1">
        <blue-chart [datasets]="(dataset$ | async)?.pm || [{data:[]}]" [labels]="(dataset$ | async)?.labels || []" [options]="options" class="d-block"></blue-chart>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card mt-3">
        <div class="card-block">
          <h4 class="card-title">Reports</h4>
        </div>
        <ul class="list-group list-group-flush">
          <blue-report [errors]="errors$ | async"></blue-report>
        </ul>
        <div class="card-block py-2">
          <span class="small text-muted">Showing latest 15 errors</span>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card mt-3">
        <div class="card-block">
          <h4 class="card-title">Current <small class="text-muted">within and compared with {{ current.period }} minutes</small></h4>
          <dl class="row">
            <dt class="col-sm-3">Temperature</dt>
            <dd class="col-sm-9">
              <span>{{ current.temperature }}°C</span>
              <trend class="mx-2 small" [trend]="current_trend.temperature"></trend>
            </dd>
            <dt class="col-sm-3">Humidity</dt>
            <dd class="col-sm-9">
              <span>{{ current.humidity }}%</span>
              <trend class="mx-2 small" [trend]="current_trend.humidity"></trend>
            </dd>
            <dt class="col-sm-3">Heat Index</dt>
             <dd class="col-sm-9">
              <span>{{ current.heatindex }}°C</span>
              <trend class="mx-2 small" [trend]="current_trend.heatindex"></trend>
            </dd>

            <dt class="col-sm-3">PM1.0</dt>
            <dd class="col-sm-9">
              <span>{{ current.pm01 }} µg/m<sup>3</sup></span>
              <trend class="mx-2 small" [trend]="current_trend.pm01"></trend>
            </dd>
            <dt class="col-sm-3">PM2.5</dt>
            <dd class="col-sm-9">
              <span>{{ current.pm25 }} µg/m<sup>3</sup></span>
              <trend class="mx-2 small" [trend]="current_trend.pm25"></trend>
            </dd>
            <dt class="col-sm-3">PM10</dt>
            <dd class="col-sm-9">
              <span>{{ current.pm10 }} µg/m<sup>3</sup></span>
              <trend class="mx-2 small" [trend]="current_trend.pm10"></trend>
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <div class="card mt-3">
        <div class="card-block">
          <h4 class="card-title">About</h4>
          <ul class="list-unstyled">
            <li>Data are collected from Arduino at SkyZH's home.</li>
            <li>Sensors &amp; Board:
              <a href="https://www.arduino.cc/en/main/arduinoBoardMega2560">Mega 2560</a>,
              <a href="https://www.adafruit.com/product/385">DHT22</a> and
              <a href="https://item.taobao.com/item.htm?spm=a1z09.2.0.0.XsFTzL&id=525688561779&_u=s2frb8vp2678">PM2.5 Sensor</a>
            </li>
            <li>Data are refreshed every minute and are displayed realtime.</li>
            <li>Built with <a href="https://www.firebase.com/">Firebase</a> and <a href="https://angular.io/">Angular</a></li>
            <li>Follow SkyZH on <a href="https://twitter.com/iSkyZH"><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a> and <a href="https://github.com/SkyZH"><i class="fa fa-github" aria-hidden="true"></i> GitHub</a></li>
            <li>This project is on GitHub: 
              <a href="https://github.com/SkyZH/BlueSensor">BlueSensor</a>,
              <a href="https://github.com/SkyZH/BlueMonitor">BlueMonitor</a> and
              <a href="https://github.com/SkyZH/BlueSense">BlueSense</a>.
            </li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</div>