.blue-home-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: white;
  background-image: url(/img/home.jpg);
  background-size: cover;
}

.blue-home-overlay-credit {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  pointer-events: none;
  a {
    pointer-events: all;
  }
}

.home-card {
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 8px 13px rgba(0, 0, 0, 0.1);
}
